span {
  background-color: rgb(26, 180, 6);
  color: #fff;
}

.container {
  background-color: #fff;
}

.container div {
  background-color: rgb(255, 175, 70);
}


span, .container div {
  margin: 20px;
}
