.outer li {
  color: olivedrab;
}

.outer > li{
  color: dodgerblue;}

/* .outer > li  li {
  color: olivedrab
} */

.outer > li  li {
  text-decoration: underline;
}

/* not 가상 선택자 */
.outer > :not(:last-child){
  background-color: beige;
}

ul:not(.outer) li {
  font-weight: bold;
}

/* 이건 잘 안쓰는데 보통 짝수나 홀수 선택하고 싶을 때  */
ol:nth-child(3) {
  font-weight: bold;
  color: deeppink;
}

/* ol :nth-child(even){어쩌구} 
even에 사칙연산 가능*/
ol :nth-child(2n) {background-color: beige;}
ol :nth-child(odd) {
  background-color:rgb(67, 141, 116);
  color: aliceblue;}

.starter ~ li {
  font-style: italic;
}

ol :first-child, ol :last-child {
  color:rgb(255, 193, 117);
}
