
body, h1, button{
  all: unset;
}


body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #ddd;
  
}
.stopwatch{
  display: inline-block;
  padding: 110px 52px 122px 52px;
  background-color: #fff;
  border: 4px solid #aaa;
  border-radius: 24px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}
.stopwatch h1{
  display: block;
  margin-bottom: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  text-transform: uppercase;
  color:#808080;
  font-size: 15px;
}
.stopwatch_interface{
  display: flex;
  gap:5px;
  align-items: center;
  font-size: 30px;
} 
#screen {
  align-items: center;
  font-family: "Press Start 2P";
  display: flex;
  color:#fff;
  height: 64px;
  padding: 0 12px;
  background-color: #000;
  border-radius: 5px;
}
#button {
  height: 64px;
  box-sizing: border-box;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: rgb(74, 122, 255);
}

